Repository sntkn/go-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: api, oauth2, frontend, client

fix rename handler and usecase
  oauth2/domain/authentication/entity.go
  oauth2/domain/authentication/repository.go
  oauth2/domain/authorization/entity.go
  oauth2/domain/authorization/repository.go
  oauth2/domain/authorization_code/repository.go
  oauth2/domain/refresh_token/repository.go
  oauth2/domain/token/repository.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/infrastructure/repository/authorization_repository.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/infrastructure/repository/token_repository.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authentication_usecase.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

rename domain package name
  oauth2/domain/authorization_code.go
  oauth2/domain/authorization_code/repository.go
  oauth2/domain/client.go
  oauth2/domain/client/repository.go
  oauth2/domain/refresh_token.go
  oauth2/domain/refresh_token/entity.go
  oauth2/domain/token.go
  oauth2/domain/token/entity.go
  oauth2/domain/token/repository.go
  oauth2/domain/user.go
  oauth2/domain/user/repository.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/infrastructure/repository/token_repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authentication_usecase.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

delete validation
  oauth2/internal/interface/validation/validation.go
Labels: none

update build
  oauth2/Dockerfile
Labels: oauth2

restriction direct difinition user domain
  oauth2/domain/user.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/internal/interface/handler/authentication_handler.go
  oauth2/internal/usecase/authentication_usecase.go
Labels: none

restriction direct difinition client domain
  oauth2/domain/client.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/internal/usecase/authentication_usecase.go
Labels: none

restriction direct difinition code domain
  oauth2/domain/authorization_code.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

restriction direct difinition token domain
  oauth2/domain/token.go
  oauth2/infrastructure/repository/token_repository.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

restriction direct difinition refrsh token domain
  oauth2/domain/refresh_token.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

not use sql.ErrNoRows in usecase
  oauth2/domain/authorization_code.go
  oauth2/domain/refresh_token.go
  oauth2/domain/token.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

move store logic to domain
  oauth2/domain/refresh_token.go
  oauth2/domain/token.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

move jwt parse to token domain
  oauth2/domain/token.go
Labels: none

fix revive warn
  oauth2/domain/authorization_code.go
  oauth2/domain/user.go
Labels: none

move exipired to code domain
  oauth2/domain/authorization_code.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

add domain mock
  oauth2/domain/authorization_code.go
  oauth2/domain/authorization_code_mock.go
  oauth2/domain/authorization_code_repository_mock.go
  oauth2/domain/client.go
  oauth2/domain/client_mock.go
  oauth2/domain/client_repository_mock.go
  oauth2/domain/refresh_token.go
  oauth2/domain/refresh_token_mock.go
  oauth2/domain/refresh_token_repository_mock.go
  oauth2/domain/token.go
  oauth2/domain/token_mock.go
  oauth2/domain/token_repository_mock.go
  oauth2/domain/user.go
  oauth2/domain/user_mock.go
  oauth2/domain/user_repository_mock.go
Labels: none

add AuthenticateUser test
  oauth2/internal/usecase/authentication_usecase_test.go
Labels: none

add AuthenticateClient test
  oauth2/internal/usecase/authentication_usecase_test.go
Labels: none

add Consent test and remove accesstoken package
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

more stronger sttore code domain
  oauth2/domain/authorization_code.go
  oauth2/domain/authorization_code_repository_mock.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

move new domain to usecase
  oauth2/domain/refresh_token.go
  oauth2/domain/token.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

add authorization code test
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

add authorization code test
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

add token service and generate token test
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/domainservice/token_service_mock.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

add test generate token by code
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

update refresh token domain
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/domainservice/token_service_mock.go
  oauth2/domain/refresh_token.go
  oauth2/domain/refresh_token_mock.go
  oauth2/domain/refresh_token_repository_mock.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/internal/usecase/authorization_usecase.go
Labels: none

returns nil for not found find method
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/infrastructure/repository/token_repository.go
Labels: none

add FindTokenAndRefreshTokenByRefreshToken
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/domainservice/token_service_mock.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/pkg/errors/service_error.go
Labels: none

add refreshtoken test
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

rename FindTokenByRefreshToken
  go.work.sum
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/domainservice/token_service_mock.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

add value object AccessToken
  go.work.sum
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/token.go
Labels: none

update go 1.24
  .mise.toml
  api/Dockerfile
  api/go.mod
  client/go.mod
  go.work
  go.work.sum
  oauth2/Dockerfile
  oauth2/go.mod
Labels: api, oauth2, client

revresh token value object
  go.work.sum
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/refresh_token.go
Labels: none

add dependabot github-actions
  .github/dependabot.yml
Labels: none

add docker dependabot
  .github/dependabot.yml
Labels: none

feat: Support multiple redirect URIs for OAuth2 clients
  go.work.sum
  oauth2/domain/client.go
  oauth2/domain/refresh_token_mock.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/res.go
Labels: oauth2

migrate golangci-lint
  oauth2/.golangci.yml
Labels: oauth2

fix lint
  oauth2/cmd/app/main.go
  oauth2/domain/authorization_code.go
  oauth2/domain/token.go
  oauth2/internal/common/accesstoken/accesstoken.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/pkg/valkey/valkey_test.go
Labels: none

update 1.25
  .mise.toml
  api/Dockerfile
  api/go.mod
  client/go.mod
  go.work
  go.work.sum
  oauth2/Dockerfile
Labels: api, oauth2, client

update golangici-lint:2.6.2
  .mise.toml
  oauth2/play/main.go
Labels: none

update golangici-lint:2.6.2
  .github/workflows/lint.yml
Labels: none

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: "api/*"
oauth2:
  - changed-files:
      - any-glob-to-any-file: "oauth2/*"
frontend:
  - changed-files:
      - any-glob-to-any-file: "front/*"
client:
  - changed-files:
      - any-glob-to-any-file: "client/*"
