Repository sntkn/go-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: api, oauth2, frontend, client

no use pkg/errors
  oauth2/go.mod
  oauth2/pkg/str/str.go
Labels: oauth2

use sql context
  oauth2/domain/authorization_code.go
  oauth2/domain/authorization_code_repository_mock.go
  oauth2/domain/client.go
  oauth2/domain/client_repository_mock.go
  oauth2/domain/domainservice/token_service.go
  oauth2/domain/domainservice/token_service_mock.go
  oauth2/domain/refresh_token.go
  oauth2/domain/refresh_token_repository_mock.go
  oauth2/domain/token.go
  oauth2/domain/token_repository_mock.go
  oauth2/domain/user.go
  oauth2/domain/user_repository_mock.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/infrastructure/repository/token_repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/internal/common/accesstoken/accesstoken.go
  oauth2/internal/interface/handler/authentication_handler.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authentication_usecase.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/pkg/valkey/valkey.go
Labels: none

fix test
  oauth2/internal/usecase/authentication_usecase_test.go
  oauth2/internal/usecase/authorization_usecase_test.go
Labels: none

fix lint and remove gocritic
  oauth2/.golangci.yml
  oauth2/domain/refresh_token.go
  oauth2/domain/token.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/internal/common/accesstoken/accesstoken.go
  oauth2/internal/common/session/session.go
  oauth2/internal/interface/handler/authorization_handler.go
  oauth2/internal/usecase/authorization_usecase.go
  oauth2/play/main.go
Labels: oauth2

update golangci.yml and fix lint
  api/.golangci.yml
  api/cmd/api/main.go
  api/internal/interfaces/api/user_handler_test.go
Labels: api

update reviewdog-golangic-lint
  .github/workflows/lint.yml
Labels: none

add retry limit
  docker/wait-for-services.sh
Labels: none

debug
  .github/workflows/test.yml
Labels: none

change pg volumes
  compose.yml
Labels: none

update image
  api/Dockerfile
Labels: api

update golang.org/x/tools
  api/go.mod
  api/go.sum
  go.work.sum
Labels: api

alpine:3.22.2
  api/Dockerfile
  oauth2/Dockerfile
Labels: api, oauth2

update go 1.26.1
  .mise.toml
  api/Dockerfile
  api/go.mod
  client/go.mod
  go.work
  go.work.sum
  oauth2/Dockerfile
  oauth2/go.mod
Labels: api, oauth2, client

update dockerfile
  api/Dockerfile
  oauth2/Dockerfile
Labels: api, oauth2

refactor oauth2
  oauth2/domain/authorization_code.go
  oauth2/domain/client.go
  oauth2/domain/refresh_token.go
  oauth2/infrastructure/repository/authorization_code_repository.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/query.go
  oauth2/infrastructure/repository/refresh_token_repository.go
  oauth2/infrastructure/repository/token_repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/internal/common/flashmessage/message.go
  oauth2/internal/common/session/session.go
  oauth2/internal/common/session/session_mock.go
  oauth2/internal/common/session/session_test.go
  oauth2/internal/interface/handler/authentication_handler.go
  oauth2/internal/interface/handler/authorization_handler.go
Labels: none

upgrade echo/v5
  README.md
  api/cmd/api/main.go
  api/go.mod
  api/go.sum
  api/internal/interfaces/api/timeline_handler.go
  api/internal/interfaces/api/user_handler.go
  api/internal/interfaces/api/user_handler_test.go
  api/internal/interfaces/response/response.go
  api/internal/interfaces/routes/api.go
  go.work.sum
Labels: api

remove yarn and add pnpm
  .mise.toml
  front/package.json
  front/pnpm-lock.yaml
  front/tsconfig.json
  front/yarn.lock
Labels: frontend

サプライチェーン対策
  .github/dependabot.yml
  .github/workflows/api-build-and-push.yml
  .github/workflows/auto-merge.yml
  .github/workflows/build-and-push.yml
  .github/workflows/lint.yml
  .github/workflows/oauth2-build-and-push.yml
  .github/workflows/pull-request.yml
  .github/workflows/test.yml
Labels: none

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: "api/*"
oauth2:
  - changed-files:
      - any-glob-to-any-file: "oauth2/*"
frontend:
  - changed-files:
      - any-glob-to-any-file: "front/*"
client:
  - changed-files:
      - any-glob-to-any-file: "client/*"
