Repository sntkn/go-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: api, oauth2, frontend, client

use valkey
  compose.yml
  docker/wait-for-services.sh
  oauth2/internal/controllers/auth/authorization.go
  oauth2/internal/controllers/auth/authorize.go
  oauth2/internal/controllers/auth/signin.go
  oauth2/internal/controllers/user/create_user.go
  oauth2/internal/controllers/user/signup.go
  oauth2/internal/controllers/user/signup_finished.go
  oauth2/internal/session/session.go
  oauth2/internal/session/session_mock.go
  oauth2/internal/session/session_test.go
  oauth2/main.go
  oauth2/pkg/valkey/valkey.go
  oauth2/pkg/valkey/valkey_mock.go
Labels: oauth2

update container name
  .github/workflows/test.yml
Labels: none

update readme, gitignore, dockerfile and compose.yml
  .gitignore
  README.md
  compose.yml
  oauth2/Dockerfile
Labels: oauth2

use Ed25519 key
  README.md
  oauth2/internal/accesstoken/accesstoken.go
  oauth2/lib/generate_key.go
  oauth2/pkg/config/config.go
  oauth2/pkg/valkey/valkey.go
Labels: none

use ed25519 algorithm for JWT
  oauth2/internal/accesstoken/accesstoken.go
Labels: none

add ci dotenv secret key
  .github/workflows/oauth2-build-and-push.yml
  .github/workflows/test.yml
Labels: none

uncomment env_file
  compose.yml
Labels: none

add accesstoken generator and parser interface
  oauth2/internal/accesstoken/accesstoken.go
Labels: none

move struct position
  oauth2/internal/accesstoken/accesstoken.go
Labels: none

fix test
  oauth2/internal/accesstoken/accesstoken.go
  oauth2/internal/accesstoken/token_gerenrator_mock.go
  oauth2/internal/controllers/auth/create_token.go
  oauth2/internal/controllers/user/get_user.go
  oauth2/internal/controllers/user/get_user_test.go
  oauth2/internal/usecases/create_token_by_code.go
  oauth2/internal/usecases/create_token_by_code_test.go
  oauth2/internal/usecases/create_token_by_refresh_token.go
  oauth2/internal/usecases/create_token_by_refresh_token_test.go
  oauth2/main.go
Labels: oauth2

add comment
  README.md
Labels: none

return errors with stack
  oauth2/internal/session/session.go
  oauth2/pkg/valkey/valkey.go
Labels: none

return errors with stack
  oauth2/internal/session/session.go
Labels: none

refactor session
  oauth2/internal/session/session.go
Labels: none

move auth jwt to middleware
  oauth2/internal/controllers/auth/delete_token.go
  oauth2/internal/controllers/auth/delete_token_test.go
  oauth2/internal/controllers/user/get_user.go
  oauth2/internal/controllers/user/get_user_test.go
  oauth2/internal/middleware/auth.go
  oauth2/main.go
Labels: oauth2

add dotenv secret key
  .github/workflows/auto-merge.yml
Labels: none

add dotenv secret key
  .github/workflows/api-build-and-push.yml
Labels: none

Add toolchain
  .github/workflows/build-and-push.yml
  api/Dockerfile
  api/go.mod
  client/go.mod
  go.work.sum
  oauth2/Dockerfile
  oauth2/go.mod
Labels: api, oauth2, client

directory base
  go.work.sum
  oauth2/cmd/app/main.go
  oauth2/domain/model/access_token.go
  oauth2/domain/model/authorization_code.go
  oauth2/domain/model/client.go
  oauth2/domain/model/refresh_token.go
  oauth2/domain/model/user.go
  oauth2/interface/handler/handler.go
  oauth2/usecase/usecase.go
Labels: none

authorize base
  oauth2/README.md
  oauth2/interface/handler/authorize_handler.go
  oauth2/interface/handler/handler.go
  oauth2/interface/handler/signin_handler.go
  oauth2/interface/repository/client_repository.go
  oauth2/interface/repository/user_repository.go
  oauth2/usecase/auth_usecase.go
  oauth2/usecase/usecase.go
Labels: oauth2

authorize
  oauth2/.air.toml
  oauth2/Dockerfile
  oauth2/cmd/app/main.go
  oauth2/domain/model/client.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/interface/handler/authorize_handler.go
  oauth2/interface/presenter/bindings/binding.go
  oauth2/interface/presenter/validation/validation.go
  oauth2/interface/repository/client_repository.go
  oauth2/usecase/auth_usecase.go
Labels: oauth2

rearchtect
  oauth2/cmd/app/main.go
  oauth2/domain/authentication/entity.go
  oauth2/domain/authentication/repository.go
  oauth2/infrastructure/model/model.go
  oauth2/infrastructure/repository/repository.go
  oauth2/interface/handler/authentication_handler.go
  oauth2/interface/handler/authorize_handler.go
  oauth2/interface/handler/signin_handler.go
  oauth2/usecase/auth_usecase.go
  oauth2/usecase/authentication_usecase.go
Labels: none

move
  oauth2/interface/handler/authentication_handler.go
Labels: none

authenticate_user
  oauth2/infrastructure/repository/repository.go
  oauth2/interface/handler/authentication_handler.go
  oauth2/pkg/errors/usecase_error.go
  oauth2/usecase/authentication_usecase.go
Labels: none

move logic to domain
  oauth2/domain/authentication/entity.go
  oauth2/usecase/authentication_usecase.go
Labels: none

not return error when sql no rows
  README.md
  oauth2/infrastructure/repository/repository.go
Labels: none

refactor session
  oauth2/interface/handler/authentication_handler.go
  oauth2/interface/handler/handler.go
Labels: none

consent
  oauth2/domain/authorization/repository.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/interface/handler/authorization_handler.go
  oauth2/usecase/authorization_usecase.go
  oauth2/usecase/usecase.go
Labels: none

generate code
  oauth2/cmd/app/main.go
  oauth2/domain/authorization/entity.go
  oauth2/domain/authorization/repository.go
  oauth2/infrastructure/model/model.go
  oauth2/infrastructure/repository/repository.go
  oauth2/interface/handler/authentication_handler.go
  oauth2/interface/handler/authorization_handler.go
  oauth2/interface/handler/handler.go
  oauth2/templates/consent.html
  oauth2/usecase/authorization_usecase.go
Labels: none

fix redirect
  oauth2/cmd/app/main.go
  oauth2/infrastructure/repository/repository.go
  oauth2/interface/handler/authentication_handler.go
  oauth2/templates/signin.html
Labels: none

refactor auth
  oauth2/interface/handler/authentication_handler.go
  oauth2/interface/handler/authorization_handler.go
  oauth2/interface/handler/handler.go
Labels: none

token model
  oauth2/domain/authorization/entity.go
  oauth2/usecase/authorization_usecase.go
Labels: none

add token handler
  oauth2/interface/handler/authorization_handler.go
  oauth2/usecase/authorization_usecase.go
Labels: none

add repository methods
  oauth2/domain/authorization/repository.go
  oauth2/infrastructure/repository/repository.go
Labels: none

add repository methods
  oauth2/infrastructure/repository/repository.go
Labels: none

fix generateTokenByCode
  oauth2/interface/handler/authorization_handler.go
  oauth2/usecase/authorization_usecase.go
Labels: none

add generate token by refresh token
  oauth2/domain/authorization/repository.go
  oauth2/infrastructure/repository/repository.go
  oauth2/usecase/authorization_usecase.go
Labels: none

supports DIP
  oauth2/domain/authentication/repository.go
  oauth2/domain/authorization/entity.go
  oauth2/domain/authorization/repository.go
  oauth2/infrastructure/repository/authentication_repository.go
  oauth2/infrastructure/repository/authorization_repository.go
  oauth2/infrastructure/repository/repository.go
  oauth2/interface/handler/authentication_handler.go
  oauth2/interface/handler/authorization_handler.go
  oauth2/usecase/authorization_usecase.go
Labels: none

update route
  oauth2/cmd/app/main.go
Labels: none

divide domain
  oauth2/domain/authorization_code/entity.go
  oauth2/domain/authorization_code/repository.go
  oauth2/domain/client/entity.go
  oauth2/domain/client/repository.go
  oauth2/domain/refresh_token/entity.go
  oauth2/domain/refresh_token/repository.go
  oauth2/domain/token/entity.go
  oauth2/domain/token/repository.go
  oauth2/domain/user/entity.go
  oauth2/domain/user/repository.go
  oauth2/infrastructure/repository/authentication_repository.go
  oauth2/infrastructure/repository/client_repository.go
  oauth2/infrastructure/repository/user_repository.go
  oauth2/internal/interface/handler/authentication_handler.go
  oauth2/internal/usecase/authentication_usecase.go
Labels: none

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: "api/*"
oauth2:
  - changed-files:
      - any-glob-to-any-file: "oauth2/*"
frontend:
  - changed-files:
      - any-glob-to-any-file: "front/*"
client:
  - changed-files:
      - any-glob-to-any-file: "client/*"
