Repository sntkn/go-oauth2, changes with the labels that .github/labeler.yml gives for each.
All labels: api, oauth2, frontend, client

update mise
  .mise.toml
  README.md
  oauth2/README.md
Labels: oauth2

add jwt middleware
  api/go.mod
  api/go.sum
  api/internal/interfaces/routes/api.go
  go.work.sum
Labels: api

update handler
  api/go.mod
  api/internal/interfaces/api/handler.go
  api/internal/interfaces/api/timeline_handler.go
  api/internal/interfaces/api/user_handler.go
  api/internal/interfaces/api/user_handler_test.go
  api/internal/interfaces/routes/api.go
Labels: api

refactor signin
  ed25519_private.pem
  ed25519_pub.pem
  oauth2/internal/controllers/auth/signin.go
  oauth2/internal/session/session.go
  oauth2/internal/usecases/signup.go
  oauth2/internal/usecases/signup_test.go
  oauth2/main.go
  oauth2/pkg/config/config.go
Labels: oauth2

refactor main
  oauth2/main.go
Labels: oauth2

refactor authorize
  oauth2/internal/controllers/auth/authorize.go
  oauth2/internal/controllers/auth/signin.go
  oauth2/internal/usecases/authorize.go
  oauth2/main.go
Labels: oauth2

refactor authorization
  oauth2/internal/controllers/auth/authorization.go
  oauth2/internal/usecases/authorization.go
  oauth2/main.go
Labels: oauth2

add workflow timeline
  .github/workflows/api-build-and-push.yml
Labels: none

add workflow timeline
  .github/workflows/api-build-and-push.yml
Labels: none

add workflow timeline
  .github/workflows/oauth2-build-and-push.yml
Labels: none

fix authorization test
  oauth2/internal/usecases/authorization_test.go
Labels: none

fix authorize test
  oauth2/internal/usecases/authorize_test.go
Labels: none

fix controller signin test
  oauth2/internal/controllers/auth/signin.go
  oauth2/internal/controllers/auth/signin_test.go
  oauth2/internal/session/session.go
  oauth2/internal/session/session_manager_mock.go
Labels: none

add mise task generate
  .mise.toml
Labels: none

add gha concurrency
  .github/workflows/api-build-and-push.yml
  .github/workflows/build-and-push.yml
  .github/workflows/oauth2-build-and-push.yml
Labels: none

update concurrency
  .github/workflows/build-and-push.yml
Labels: none

fixed go version
  .github/workflows/build-and-push.yml
Labels: none

add usecase mock
  oauth2/internal/controllers/auth/authorization.go
  oauth2/internal/controllers/auth/authorization_usecase_mock.go
  oauth2/internal/controllers/auth/authorize.go
  oauth2/internal/controllers/auth/authorize_usecase_mock.go
Labels: none

add authorize test
  oauth2/internal/controllers/auth/authorize_test.go
Labels: none

add authorization test
  oauth2/internal/controllers/auth/authorization_test.go
Labels: none

fixed create token test
  oauth2/internal/usecases/create_token_by_code.go
  oauth2/internal/usecases/create_token_by_code_test.go
  oauth2/internal/usecases/create_token_by_refresh_token.go
  oauth2/internal/usecases/create_token_by_refresh_token_test.go
Labels: none

fixed create token controller test
  oauth2/internal/controllers/auth/create_token.go
  oauth2/internal/controllers/auth/create_token_by_refresh_token_usecase_mock.go
  oauth2/internal/controllers/auth/create_token_test.go
  oauth2/internal/controllers/auth/create_token_usecase_mock.go
Labels: none

return pointer authtoken struct
  oauth2/internal/controllers/auth/create_token.go
  oauth2/internal/controllers/auth/create_token_by_code_usecase_mock.go
  oauth2/internal/controllers/auth/create_token_by_refresh_token_usecase_mock.go
  oauth2/internal/controllers/auth/create_token_test.go
  oauth2/internal/usecases/create_token_by_code.go
  oauth2/internal/usecases/create_token_by_code_test.go
  oauth2/internal/usecases/create_token_by_refresh_token.go
  oauth2/internal/usecases/create_token_by_refresh_token_test.go
Labels: none

fixed delete token usecase test
  oauth2/internal/usecases/delete_token.go
  oauth2/internal/usecases/delete_token_test.go
Labels: none

fixed delete token controller test
  oauth2/internal/controllers/auth/delete_token.go
  oauth2/internal/controllers/auth/delete_token_test.go
  oauth2/internal/controllers/auth/delete_token_usecase_mock.go
Labels: none

fixed main.go
  oauth2/internal/controllers/auth/delete_token.go
  oauth2/main.go
Labels: oauth2

fixed get user usecase test
  oauth2/internal/usecases/get_user.go
  oauth2/internal/usecases/get_user_test.go
Labels: none

delete signin usecase
  oauth2/internal/usecases/signin.go
  oauth2/internal/usecases/signin_test.go
Labels: none

fixed create user usecase
  oauth2/internal/usecases/create_user.go
  oauth2/internal/usecases/create_user_test.go
Labels: none

fixed get user controller test
  oauth2/internal/controllers/user/get_user.go
  oauth2/internal/controllers/user/get_user_test.go
  oauth2/internal/controllers/user/get_user_usecase_mock.go
Labels: none

fixed create user controller test
  oauth2/internal/controllers/user/create_user.go
  oauth2/internal/controllers/user/create_user_test.go
  oauth2/internal/controllers/user/create_user_usecase_mock.go
Labels: none

fixed create user controller test
  oauth2/internal/usecases/create_user.go
Labels: none

fixed signup controller test
  oauth2/internal/controllers/user/signup.go
  oauth2/internal/controllers/user/signup_test.go
Labels: none

fixed router
  oauth2/main.go
Labels: oauth2

fixed signup finished controller test
  oauth2/internal/controllers/user/signup_finished.go
  oauth2/internal/controllers/user/signup_finished_test.go
  oauth2/main.go
Labels: oauth2

update readme
  README.md
  go.work.sum
  oauth2/README.md
Labels: oauth2

update readme
  README.md
  oauth2/README.md
Labels: oauth2

remove key
  ed25519_private.pem
  ed25519_pub.pem
Labels: none

add-valkey-kvs
  go.work.sum
  oauth2/go.mod
  oauth2/go.sum
  oauth2/pkg/kvs/kvs.go
  oauth2/pkg/kvs/kvs_test.go
Labels: oauth2

rename kvs to valkey
  oauth2/pkg/valkey/valkey.go
  oauth2/pkg/valkey/valkey_test.go
Labels: none

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file: "api/*"
oauth2:
  - changed-files:
      - any-glob-to-any-file: "oauth2/*"
frontend:
  - changed-files:
      - any-glob-to-any-file: "front/*"
client:
  - changed-files:
      - any-glob-to-any-file: "client/*"
